:root {
  --p-font: 18px;
}

@import url(https://fonts.google.com/specimen/Hanken+Grotesk);

@font-face {
  font-family: "Hanken Grotesk";
  src: url(/assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
  font-weight: 500, 700, 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: hsl(221, 100%, 96%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  min-width: 50vw;
  min-height: 45vh;
  background-color: hsl(0, 0%, 100%);
  border-radius: 30px;
  box-shadow: 10px 10px 50px 10px hsla(241, 81%, 54%, 0.1);
}

/* LEFT CONTAINER */
.container__left {
  background-image: linear-gradient(
    hsl(252, 100%, 67%) 1%,
    hsl(241, 81%, 54%) 99%
  );
  width: 50%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

.your-result {
  color: hsla(0, 0%, 100%, 0.8);
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.left__circle {
  color: hsl(0, 0%, 100%);
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.circleTop {
  font-size: 75px;
  font-weight: 800;
  line-height: 1;
}

.circleBottom {
  color: hsla(241, 100%, 89%, 0.5);
}

.great {
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-size: 30px;
  font-weight: 500;
}

.longText {
  color: hsla(0, 0%, 100%, 0.616);
  text-align: center;
  font-size: var(--p-font);
}

/* RIGHT CONTAINER */
.container__right {
  width: 50%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  font-size: var(--p-font);
  font-weight: bold;
  padding: 2rem;
  gap: 2rem;
}

.summary {
  width: 100%;
  font-size: 25px;
  font-weight: 700;
  color: hsla(0, 0%, 0%, 0.8);
}

.rmvv {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right__boxes {
  display: flex;
  justify-content: space-between;
  font-size: var(--p-font);
  border-radius: 15px;
  padding: 1rem;
}

.right__reaction {
  background-color: hsla(0, 100%, 67%, 0.055);
}

.reaction {
  color: hsla(0, 100%, 67%, 0.735);
  display: flex;
}

.right__memory {
  background-color: hsla(39, 100%, 56%, 0.055);
}

.memory {
  color: hsl(39, 100%, 56%, 0.735);
  display: flex;
}

.right__verbal {
  background-color: hsla(166, 100%, 37%, 0.055);
}

.verbal {
  color: hsl(166, 100%, 37%, 0.735);
  display: flex;
}

.right__visual {
  background-color: hsla(234, 85%, 45%, 0.055);
}

.visual {
  color: hsl(234, 85%, 45%, 0.735);
  display: flex;
}

.icon {
  margin-right: 0.5rem;
}

.score {
  color: hsla(0, 0%, 0%, 0.7);
  margin-right: 0.5rem;
}

.score__over {
  color: hsla(0, 0%, 0%, 0.5);
}

.overall-score {
  display: flex;
}

button {
  width: 100%;
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  border-radius: 25px;
  border: none;
  padding: 1.1rem;
  font-size: var(--p-font);
  margin: 0.5rem 0;
}

button:hover,
button:focus,
button:active {
  cursor: pointer;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

/* FOOT */
.attribution {
  font-size: 11px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Quaries */
@media only screen and (max-width: 400px) {
  .container {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
  }

  .container__left {
    width: 100%;
    height: 45vh;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin: 0;
    padding: 2rem;
  }

  .your-result {
    margin-bottom: 0.5rem;
    font-size: 18px;
  }

  .left__circle {
    height: 145px;
    width: 145px;
  }

  .circleTop {
    font-size: 60px;
  }

  .great {
    margin: 1rem;
    font-size: 25px;
  }

  .longText {
    font-size: 16px;
  }

  br {
    display: none;
  }

  .pline1::after,
  .pline2::after {
    content: "\a";
    white-space: pre;
  }

  .container__right {
    width: 100%;
    height: 55vh;
    border: none;
    margin: 0;
    padding: 1.5rem;
    gap: 1rem;
  }

  .summary {
    font-size: var(--p-font);
  }

  .right__boxes {
    border-radius: 10px;
    font-size: 16px;
  }
}
